<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .menu{
            display: flex;
            justify-content: space-between;
        }
        nav a{
            text-decoration: none;
            color: black;


        }nav a:hover{
            color: brown;

        }nav li{
            list-style-type: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="menu">
            <li> <a href="">Home</a> </li>
            <li> <a href="">Profile </a> </li>
            <li> <a href="">Blog  </a> </li>
            <li> <a href="">About</a> </li>
            <li> <a href="">Login</a> </li>
        
           
    </header>
    
</body>
</html>